@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background:
    linear-gradient(90deg, #5a3825 0%, #3e2416 50%, #5a3825 100%),
    repeating-linear-gradient(
      0deg,
      rgba(0,0,0,0.05) 0px,
      rgba(0,0,0,0.05) 2px,
      transparent 2px,
      transparent 6px
    );
  background-blend-mode: overlay;
}

nav li {
  cursor: pointer;
  font-weight: 500;
}

nav li:hover {
  color: #b45309;
}

nav div:hover {
  transform: translateX(4px);
  transition: 0.2s ease;
  color: #b45309;
}

button:hover {
  color: #b45309;
}

.string {
  display: block;
  position: relative;
  padding: 14px 0;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #111 !important; /* ovo je ključno */
  transition: color 0.3s ease, transform 0.2s ease;
  text-shadow: 0 1px 1px rgba(255,255,255,0.2);
}


/* Žica */
.string::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #777, #fff, #999, #666);
  transition: all 0.3s ease;
}

/* Hover */
.string:hover {
  color: #000;
  transform: translateX(6px);
  filter: brightness(1.1);
}

.string:hover::after {
  height: 3px;
  animation: vibrate 0.15s linear infinite;
}


@keyframes vibrate {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(2px); }
  50%  { transform: translateX(-2px); }
  75%  { transform: translateX(2px); }
  100% { transform: translateX(0); }
}



nav {
  position: relative;
  background: linear-gradient(
    to bottom,
    #5c3a1e,
    #7a4b2a,
    #5c3a1e
  );
  padding: 40px;
  border-radius: 14px;
  box-shadow: 
    inset 0 0 25px rgba(0,0,0,0.5),
    0 10px 30px rgba(0,0,0,0.4);
}

/* Metalni pragovi */
nav::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    to right,
    transparent 0px,
    transparent 120px,
    rgba(220,220,220,0.7) 121px,
    rgba(255,255,255,0.9) 122px,
    rgba(180,180,180,0.7) 123px,
    transparent 124px
  );
  pointer-events: none;
}



